In [1]:
import requests
import lxml.html as html
import pandas as pd

from collections import defaultdict

In [2]:
url_padre = "https://books.toscrape.com/index.html"
root_url = "https://books.toscrape.com/"

#### __EXPRESIONES XPATH__

In [4]:
#Obteniendo links de categorias de libros
links_categoria = '//ul[@class="nav nav-list"]/li//ul/li/a/@href' 

#Obteniendo titulos de libros
titulo = '//article/h3/a/text()'

#Obteniendo el precio de cada libros
precio =  '//div[@class="product_price"]/p[@class="price_color"]/text()'

#Obteniendo Categoria
categoria = '//div[@class="page-header action"]/h1/text()'

In [5]:
#requests
r = requests.get(url_padre)
print(r.status_code)

200

#### __RESPUESTA HTTP__

* Respuestas informativas (100–199),  
* Respuestas satisfactorias (200–299),  
* Redirecciones (300–399),  
* Errores de los clientes (400–499),  
* y errores de los servidores (500–599).

In [6]:
#requests

r = requests.get(url_padre)

home = r.content.decode("utf-8")

parser = html.fromstring(home)

categorias_url = parser.xpath(links_categoria)

categorias_url = [root_url + x for x in categorias_url] #Lambda

In [7]:
categorias_url

['https://books.toscrape.com/catalogue/category/books/travel_2/index.html',
 'https://books.toscrape.com/catalogue/category/books/mystery_3/index.html',
 'https://books.toscrape.com/catalogue/category/books/historical-fiction_4/index.html',
 'https://books.toscrape.com/catalogue/category/books/sequential-art_5/index.html',
 'https://books.toscrape.com/catalogue/category/books/classics_6/index.html',
 'https://books.toscrape.com/catalogue/category/books/philosophy_7/index.html',
 'https://books.toscrape.com/catalogue/category/books/romance_8/index.html',
 'https://books.toscrape.com/catalogue/category/books/womens-fiction_9/index.html',
 'https://books.toscrape.com/catalogue/category/books/fiction_10/index.html',
 'https://books.toscrape.com/catalogue/category/books/childrens_11/index.html',
 'https://books.toscrape.com/catalogue/category/books/religion_12/index.html',
 'https://books.toscrape.com/catalogue/category/books/nonfiction_13/index.html',
 'https://books.toscrape.com/catalogue/category/books/music_14/index.html',
 'https://books.toscrape.com/catalogue/category/books/default_15/index.html',
 'https://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html',
 'https://books.toscrape.com/catalogue/category/books/sports-and-games_17/index.html',
 'https://books.toscrape.com/catalogue/category/books/add-a-comment_18/index.html',
 'https://books.toscrape.com/catalogue/category/books/fantasy_19/index.html',
 'https://books.toscrape.com/catalogue/category/books/new-adult_20/index.html',
 'https://books.toscrape.com/catalogue/category/books/young-adult_21/index.html',
 'https://books.toscrape.com/catalogue/category/books/science_22/index.html',
 'https://books.toscrape.com/catalogue/category/books/poetry_23/index.html',
 'https://books.toscrape.com/catalogue/category/books/paranormal_24/index.html',
 'https://books.toscrape.com/catalogue/category/books/art_25/index.html',
 'https://books.toscrape.com/catalogue/category/books/psychology_26/index.html',
 'https://books.toscrape.com/catalogue/category/books/autobiography_27/index.html',
 'https://books.toscrape.com/catalogue/category/books/parenting_28/index.html',
 'https://books.toscrape.com/catalogue/category/books/adult-fiction_29/index.html',
 'https://books.toscrape.com/catalogue/category/books/humor_30/index.html',
 'https://books.toscrape.com/catalogue/category/books/horror_31/index.html',
 'https://books.toscrape.com/catalogue/category/books/history_32/index.html',
 'https://books.toscrape.com/catalogue/category/books/food-and-drink_33/index.html',
 'https://books.toscrape.com/catalogue/category/books/christian-fiction_34/index.html',
 'https://books.toscrape.com/catalogue/category/books/business_35/index.html',
 'https://books.toscrape.com/catalogue/category/books/biography_36/index.html',
 'https://books.toscrape.com/catalogue/category/books/thriller_37/index.html',
 'https://books.toscrape.com/catalogue/category/books/contemporary_38/index.html',
 'https://books.toscrape.com/catalogue/category/books/spirituality_39/index.html',
 'https://books.toscrape.com/catalogue/category/books/academic_40/index.html',
 'https://books.toscrape.com/catalogue/category/books/self-help_41/index.html',
 'https://books.toscrape.com/catalogue/category/books/historical_42/index.html',
 'https://books.toscrape.com/catalogue/category/books/christian_43/index.html',
 'https://books.toscrape.com/catalogue/category/books/suspense_44/index.html',
 'https://books.toscrape.com/catalogue/category/books/short-stories_45/index.html',
 'https://books.toscrape.com/catalogue/category/books/novels_46/index.html',
 'https://books.toscrape.com/catalogue/category/books/health_47/index.html',
 'https://books.toscrape.com/catalogue/category/books/politics_48/index.html',
 'https://books.toscrape.com/catalogue/category/books/cultural_49/index.html',
 'https://books.toscrape.com/catalogue/category/books/erotica_50/index.html',
 'https://books.toscrape.com/catalogue/category/books/crime_51/index.html']

In [26]:
#requests titulos

r = requests.get(categorias_url[0])

home = r.content.decode("utf-8")

parser = html.fromstring(home)

titulos_libro = parser.xpath(titulo)

precio_libro = parser.xpath(precio)

# GENERAR FUNCIONES SCRAPPING

In [9]:
def geturls(url_padre): 
    root_url = "https://books.toscrape.com/"
    links_categoria = '//ul[@class="nav nav-list"]/li//ul/li/a/@href' 
    r = requests.get(url_padre)
    home = r.content.decode("utf-8")
    parser = html.fromstring(home)
    categorias_url = parser.xpath(links_categoria)
    categorias_url = [root_url + x for x in categorias_url]

    return categorias_url

In [103]:
def parser_content(url): 
    content_dic = {}
    r = requests.get(url)
    home = r.content.decode("utf-8")
    parser = html.fromstring(home)   

    if r.status_code == 200:
        
        #OBTENIENDO TITULOS Y PRECIO
        
        titulo = '//article/h3/a/text()'
        titulos_libro = parser.xpath(titulo)
        content_dic['Titulo Libro'] = titulos_libro

        precios = '//div[@class="product_price"]/p[@class="price_color"]/text()'
        precios_libro = parser.xpath(precios)
        content_dic['Precio Libro'] = precios_libro

        categorias = '//div[@class="page-header action"]/h1/text()'
        categorias_libro = parser.xpath(categorias)

    list_categoria = []
    for j in range(len(content_dic['Titulo Libro'])):
        
        list_categoria.append(categorias_libro)

    content_dic['Categoria Libro'] = []
    content_dic.update({"Categoria Libro": list_categoria})

    return content_dic

In [86]:
links_entregar = geturls(url_padre)

In [104]:
#parser_content("https://books.toscrape.com/catalogue/category/books/travel_2/index.html")

{'Titulo Libro': ["It's Only the Himalayas",
  'Full Moon over Noah’s ...',
  'See America: A Celebration ...',
  'Vagabonding: An Uncommon Guide ...',
  'Under the Tuscan Sun',
  'A Summer In Europe',
  'The Great Railway Bazaar',
  'A Year in Provence ...',
  'The Road to Little ...',
  'Neither Here nor There: ...',
  '1,000 Places to See ...'],
 'Precio Libro': ['£45.17',
  '£49.43',
  '£48.87',
  '£36.94',
  '£37.33',
  '£44.34',
  '£30.54',
  '£56.88',
  '£23.21',
  '£38.95',
  '£26.08'],
 'Categoria Libro': [['Travel'],
  ['Travel'],
  ['Travel'],
  ['Travel'],
  ['Travel'],
  ['Travel'],
  ['Travel'],
  ['Travel'],
  ['Travel'],
  ['Travel'],
  ['Travel']]}

In [105]:
data = []
#for index,i in enumerate(links_entregar):
for index,i in enumerate(links_entregar):
    print(f'Se esta scrapeando la pag num {index}')
    data.append(parser_content(i))

Se esta scrapeando la pag num 0
Se esta scrapeando la pag num 1
Se esta scrapeando la pag num 2
Se esta scrapeando la pag num 3
Se esta scrapeando la pag num 4
Se esta scrapeando la pag num 5
Se esta scrapeando la pag num 6
Se esta scrapeando la pag num 7
Se esta scrapeando la pag num 8
Se esta scrapeando la pag num 9
Se esta scrapeando la pag num 10
Se esta scrapeando la pag num 11
Se esta scrapeando la pag num 12
Se esta scrapeando la pag num 13
Se esta scrapeando la pag num 14
Se esta scrapeando la pag num 15
Se esta scrapeando la pag num 16
Se esta scrapeando la pag num 17
Se esta scrapeando la pag num 18
Se esta scrapeando la pag num 19
Se esta scrapeando la pag num 20
Se esta scrapeando la pag num 21
Se esta scrapeando la pag num 22
Se esta scrapeando la pag num 23
Se esta scrapeando la pag num 24
Se esta scrapeando la pag num 25
Se esta scrapeando la pag num 26
Se esta scrapeando la pag num 27
Se esta scrapeando la pag num 28
Se esta scrapeando la pag num 29
Se esta scrapeando la pag num 30
Se esta scrapeando la pag num 31
Se esta scrapeando la pag num 32
Se esta scrapeando la pag num 33
Se esta scrapeando la pag num 34
Se esta scrapeando la pag num 35
Se esta scrapeando la pag num 36
Se esta scrapeando la pag num 37
Se esta scrapeando la pag num 38
Se esta scrapeando la pag num 39
Se esta scrapeando la pag num 40
Se esta scrapeando la pag num 41
Se esta scrapeando la pag num 42
Se esta scrapeando la pag num 43
Se esta scrapeando la pag num 44
Se esta scrapeando la pag num 45
Se esta scrapeando la pag num 46
Se esta scrapeando la pag num 47
Se esta scrapeando la pag num 48
Se esta scrapeando la pag num 49

## __GENERANDO DATAFRAME__

In [106]:
df = pd.DataFrame()
for j in data:
    df_uno = pd.DataFrame(j)
    df = pd.concat([df, df_uno])

In [107]:
df

                          Titulo Libro Precio Libro Categoria Libro
0              It's Only the Himalayas       £45.17        [Travel]
1            Full Moon over Noah’s ...       £49.43        [Travel]
2       See America: A Celebration ...       £48.87        [Travel]
3   Vagabonding: An Uncommon Guide ...       £36.94        [Travel]
4                 Under the Tuscan Sun       £37.33        [Travel]
..                                 ...          ...             ...
1               Why the Right Went ...       £52.65      [Politics]
2       Equal Is Unfair: America's ...       £56.86      [Politics]
0                       Amid the Chaos       £36.58      [Cultural]
0                           Dark Notes       £19.19       [Erotica]
0               The Long Shadow of ...       £10.97         [Crime]

[517 rows x 3 columns]